<div class="block block-{{name}}" id="block-{{name}}" style="background: #f0f0f0;">
  <div class="block-handler" style="background: #f0f0f0; float: right; color: #fff; border: 1px solid; margin: 2px;">
    <a href="/blocks/edit/{{name}}">[+]</a>
  </div>
  <div class="block-title" style="background-color: #666; color: #ffffff; padding: 3px;">{{title}}</div>
  {{#each layout}}
  {{>(template)}}
  {{/each}}
  {{{content}}}
</div>
